extends ./layout

block data
	-var test = "여행의 직구"

block chat_list
	+chat_list
block chat_content_list
block request_mode_list
	+request_mode_list
	+request_mode_list
block travel_mode_list
	+travel_mode_list
	+travel_mode_list
// 커다란 이미지
block main
	.container-fulid(style='margin-top:50px; position:relative')
		div(style='position:absolute; background-color:rgba(0, 0, 0, 0.65); z-index:10; height:100%; width:100% ')
		img(src='./p/b2.jpg', width='100%', alt='배경1', style='position:relative; z-index:1')
	.container
		// 첫 줄
		.row(style='margin-bottom:10px; background-color:black; text-align:center; margin-top:50px;')
			.col-xs-6
				div(style=' text-align:center; background-color:white; width:350px; height:400px; display:inline-block;')
					
			.col-xs-6
				div(style='width:350px; height:400px; display:inline-block;')
					//- 위 화면
					div(style='background-color:white; height:340px;')
						img(src='p/2.jpg', alt='face', style='margin-top:10px; width:100px; height:100px; position:relative; border-radius:60px;')
						div(style='background-color:white; margin-top:10px ;')
							div(style='font-weight:bold;	display:inline-block;')= name + '님의요청'
							div(style='font-weight:bold;	display:block; color:blue;')= '만료일' + date + '(D-3)' 
						div(style='background-color:white; margin-top:10px; border:black 1px solid')
							div(style='font-weight:bold;	display:inline-block;')	요청국가
							div(style='font-weight:bold;	display:inline-block;')	일본 
						div(style='background-color:white; margin-top:10px; border:black 1px solid')
							div(style='font-weight:bold;	display:inline-block;')	수행 장소
							div(style='font-weight:bold;	display:inline-block;')	서울 / 홍대 
						textarea.form-control(placeholder='소개', id='', style='margin-left:5% width:60%')
					//- 아래 화면
					div(style='margin-top:20px;background-color:white; height:40px; text-align:center')
						button.btn.btn-primary(type='button', style='margin-top:5px; width:200px; height:30px') 여행자에게 문의글 남기기
		// Q&A, 리뷰
		.row(style='margin-bottom:10px; background-color:black; text-align:center; margin-top:50px;')
			.col-xs-6
				div(style=' text-align:justify; width:350px; display:inline-block;')
					div(style='')
						div(style=' height:30px; font-size:20px; font-weight:bold;	display:inline-block;')	Q&A (0) 
					// Q&A 란
					div(style='position:relative; height:250px; width:100%; background-color:white; text-align:justify')
						div(style='top:40%; font-weight:bold; font-size:17px; text-align:center; width:100%; position:absolute; background-color:rgba(0,0,0,0.5);')
							| 현재 문의 내역이 없습니다.
							br
							|								 대화 창을 통해 여행자에게 문의해보세요!
					div(style=' background-color:white; ')
						div(style='margin-top:10px; height:50px; padding-top:5px; padding-bottom:5px; background-color:rgba(204, 204, 204, 1); width:100%; text-align:center;')
							input#itemanme.form-control(type='itemname', placeholder='메세지를 입력하세요', style='display:inline-block;width:75%')
							button.btn.btn-default(type='button', style='display:inline-block; width:20%')	전송 
			// 리뷰
			.col-xs-6
				div(style=' text-align:justify; width:350px; height:400px; display:inline-block; ')
					div(style='')
						div(style=' height:30px; font-size:20px; font-weight:bold;	display:inline-block;')	거래 현황 
					//- dealing
					div(style='background-color:white; text-align:center; font-weight:bold')
						div(style='position:relative; height:150px; background-color:white;')
							img(src='./p/b2.jpg', width='80px', height='80px', alt='배경1', style='position:absolute; top:20px; left:40px; border-radius:40px')
							div(style='position:absolute; top:100px; left:60px') 요청자
							div(style='position:absolute; top:115px; left:53px') 쿠라시마
							div(style='margin-top:50px; background-color:red; border-radius:5px; display:inline-block; width:80px; padding-top:3px; padding-bottom:3px; color:white; ') 결제 대기
							br
							img(src='./p/left_right.png', width='60px', height='60px', alt='좌우', style='display:inline-block;')
							
							img(src='./p/b2.jpg', width='80px', height='80px', alt='배경1', style='position:absolute; top:20px; right:40px; border-radius:40px')
							div(style='position:absolute; top:100px; right:60px') 여행자
							div(style='position:absolute; top:115px; right:53px') 수지니
						div(style='height:55px; position:relative; background-color:white; border:solid black 1px; padding-top:5px; padding-bottom:5px;')
							div() 여행자가 요청을 수락했습니다.
							| 결제를 완료해주세요.
						div(style='height:120px; position:relative; background-color:white;')
							div(style='display:inline-block;') 요청 가격:
							input(type='name', placeholder='2000' style='display:inline-block;')
							button.btn.btn-default(type='button' style='font-weight:bold') 수정
							button.btn.btn-primary(type='button' style='width:80%; margin-top:5px; font-weight:bold') 결제 하기
							button.btn.btn-default(type='button' style='width:80%; margin-top:5px; font-weight:bold') 여행자에게 요청 취소
								
