extends ./layout

block styles
	link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
	link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css')
	link(rel='stylesheet', type='text/css', href='./css/mystyle.css')
	link(rel="stylesheet",href="/css/login_form.css")
	link(rel="stylesheet",href="/css/menu_side.css")
	link(rel='stylesheet', href='./bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')

block data
	-var test = "여행의 직구"

block chat_list
	+chat_list
block chat_content_list
block request_mode_list
	+request_mode_list
	+request_mode_list
block travel_mode_list
	+travel_mode_list
	+travel_mode_list
//- 커다란 이미지
block main
	// main context
	.reg_main
		.container.reg_main_inner(style='background-color:white; ')
			input#input-image-2(name="inputdim1[]" type="file" multiple class="file-loading" accept="image/*")
			br
			p(style='text-align:center; font-size:2rem; font-weight:bold; color:rgba(0, 174, 239, 1);')	구매요청 등록 
			p(style='text-align:center; font-size:1rem')	여행자에게 부탁할 물품을 등록하고 저렴하게 겟하세요!
			.hidden-xs(style='margin-top:60px')
			// 현재 상황 이미지
			.row.request_now_status_array(style='text-align:center;')
				.col-xs-3
					.request_now_status(style='color:white; font-weight:bold; background-color:rgba(103, 104, 104, 1); border-radius:100px; text-align:center; ')
						| STEP 1
						br
						|									 상품 내용
						br
						|									 입력하기
				.col-xs-3
					.request_now_status(style=' color:white; font-weight:bold; background-color:rgba(0, 174, 239, 1); border-radius:100px; text-align:center; ')
						| STEP 2
						br
						|									 만료일
						br
						|									 설정하기
						br
				.col-xs-3
					.request_now_status(style='color:white; font-weight:bold; background-color:rgba(0, 174, 239, 1); border-radius:100px; text-align:center; ')
						| STEP 3
						br
						|									 가격
						br
						|									 제시하기
				.col-xs-3
					.request_now_status(style='color:white; font-weight:bold; background-color:rgba(0, 174, 239, 1); border-radius:100px; text-align:center; ')
						| STEP 4
						br
						|									 여행자
						br
						|									 선택하기
			.hidden-xs(style='margin-top:60px')
			p.header_jun 1. 상품 정보 입력
			.row
				form(action='/avatar_upload.php', method='post', enctype='multipart/form-data', style='')
					// 이미지 등록 & 기본 정보 입력 란
					#reg_picture.col-xs-12.col-sm-4(style='text-align:center')
						// the avatar markup
							#kv-avatar-errors-2.center-block.text-center(style='width:200px;display:none;')
							.kv-avatar.center-block(style='width:210px')
								input#avatar-2.file-loading(name='avatar-2', type='file')
							// include other inputs if needed and include a form submit (save) button
						// your server code `avatar_upload.php` will receive `$_FILES['avatar']` on form submission
					#reg_info.col-xs-12.col-sm-8(style='')
						p.reg_input	상품명 
						input#email.form-control.reg_input(type='name', placeholder='상품명')
						br
						p.reg_input	링크걸기 
						input.form-control.reg_input(type='name', placeholder='여행자가 참고할 물품 링크를 입력해주세요.', id='')
						br
						p.reg_input	상품 개수 선택 
						input#email.form-control.reg_input(type='phone', placeholder='상품 개수 선택')
						br
						p.reg_input	상품 요철할 지역 선택하기 
						input.form-control.reg_input(type='text', placeholder='소속', id='')
						br
				p.reg_input(style='margin-left: 10%;')	기타요청 사항 
				textarea.form-control.reg_input(placeholder='소개', id='', style='margin-left: 10%; width:80%; height:150px')
				br
				.row
					p.header_jun	2. 만료일 설정
					// 본인 인증란
					div(style='')
						p.reg_input(style='padding:10px; margin-left:10%')
							| 요청한 물품을 수령받고 싶은 기간을 설정해주세요.
							br
							|											 (국내 택배 사정에 따라 1~2일간 차이가 날 수 있습니다.)
						.form-group(style=' margin-left:10%; width:80%')
							#end_datetimepicker1.input-group.date
								input.form-control(type='text', placeholder='만료일')
								span.input-group-addon
									span.glyphicon.glyphicon-calendar
				.row
					p.header_jun	3. 가격 제시
					// 본인 인증란
					p.reg_input(style='padding:10px; margin-left:10%')	여행자의 수고비를 포함한 물품 전체 가격을 적어주세요.
					input.form-control.reg_input(type='text', placeholder='가격', id='', style='padding:10px; margin-left:10%; width:80%')
				// 버튼
				.col-xs-12(style='margin-bottom:50px; text-align:center')
					button.btn.btn_jun(type='button', style='margin-top:50px;', onclick="location.href='request_reg2'")	다음 
		

block scripts
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
	script(type='text/javascript', src='myjs.js')
	link(href='library/bootstrap-fileinput-4.3.5/css/fileinput.min.css', media='all', rel='stylesheet', type='text/css')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
	script(src='library/bootstrap-fileinput-4.3.5/js/plugins/canvas-to-blob.min.js', type='text/javascript')
	script(src='library/bootstrap-fileinput-4.3.5/js/plugins/sortable.min.js', type='text/javascript')
	script(src='library/bootstrap-fileinput-4.3.5/js/plugins/purify.min.js', type='text/javascript')
	script(src='library/bootstrap-fileinput-4.3.5/js/fileinput.min.js')
	script(src='library/bootstrap-fileinput-4.3.5/themes/fa/theme.js')
	script(src='library/bootstrap-fileinput-4.3.5/js/locales/LANG.js')
	script(type='text/javascript', src='./bower_components/moment/min/moment.min.js')
	script(type='text/javascript', src='./bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
	script(type='text/javascript').
		//메뉴창
		window.onload = function(){
			$("#avatar-2").fileinput({
			overwriteInitial: false,
			maxFileSize: 1500,
			showClose: false,
			showCaption: false,
			showBrowse: false,
			browseOnZoneClick: true,
			removeLabel: '',
			removeIcon: '<i class="glyphicon glyphicon-remove"></i>',
			removeTitle: 'Cancel or reset changes',
			elErrorContainer: '#kv-avatar-errors-2',
			msgErrorClass: 'alert alert-block alert-danger',
			defaultPreviewContent: '<img src="./p/1.jpg" alt="Your Avatar" style="width:100%; height:180px"><h6 class="text-muted">Click to select</h6>',
			layoutTemplates: {main2: '{preview} ' +	' {remove}'},
			allowedFileExtensions: ["jpg", "png", "gif"]
			});
			$("#input-image-2").fileinput({
					overwriteInitial: false,
					maxFileSize: 1500,
					showClose: false,
					browseOnZoneClick: true,
					showCaption: false,
					removeIcon: '<i class="glyphicon glyphicon-remove"></i>',
					uploadUrl: "/site/image-upload",
			    allowedFileExtensions: ["jpg", "png", "gif"],
			    maxImageHeight: 150,
			    maxFileCount: 3,
			    resizeImage: true
			}).on('filepreupload', function() {
			    $('#kv-success-box').html('');
			}).on('fileuploaded', function(event, data) {
			    $('#kv-success-box').append(data.response.link);
			    $('#kv-success-modal').modal('show');
			});
			$(function () {
				$('#end_datetimepicker1').datetimepicker();
			});
		}
