extends ./layout

block data
	-var test = "여행의 직구"

block chat_list
	+chat_list
block chat_content_list
block request_mode_list
	+request_mode_list
	+request_mode_list
block travel_mode_list
	+travel_mode_list
	+travel_mode_list
// 커다란 이미지
block main
	//- 검색바
	.container-fulid(style='margin-top:50px; position:relative')
		div(style='position:absolute; background-color:rgba(0, 0, 0, 0.65); z-index:10; height:100%; width:100% ')
		img(src='./p/b2.jpg', width='100%', alt='배경1', style='position:relative; z-index:1')
	.container
		// 첫 줄
		.row(style='margin-bottom:10px; background-color:black; text-align:center; margin-top:50px;')
			.col-xs-6
				div(style=' text-align:center; background-color:white; width:350px; height:400px; display:inline-block;')
					img(src='p/2.jpg', alt='face', style='margin-top:10px; width:100px; height:100px; position:relative; border-radius:60px;')
					div(style='background-color:white; margin-top:10px ;')
						div(style='font-weight:bold;	display:inline-block;')	닉네임
						div(style='font-weight:bold;	display:inline-block;')	별별별별별 
					div(style='background-color:white; margin-top:10px ;')
						div(style='font-weight:bold;	display:inline-block;')	지원
						div(style='font-weight:bold;	display:inline-block; color:blue;')	3 
						div(style='font-weight:bold;	display:inline-block; ')	개 
						div(style='font-weight:bold;	display:inline-block;')	완료
						div(style='font-weight:bold;	display:inline-block; color:blue;')	2 
						div(style='font-weight:bold;	display:inline-block; ')	개 
						div(style='font-weight:bold;	display:inline-block;')	리뷰
						div(style='font-weight:bold;	display:inline-block; color:blue;')	1 
						div(style='font-weight:bold;	display:inline-block; ')	명 
					div(style='background-color:white; margin-top:10px ;')
						div(style='font-weight:bold;	display:inline-block;')	닉네임
						div(style='font-weight:bold;	display:inline-block;')	별별별별별 
					div(style='background-color:white; margin-top:10px ;')
						div(style='font-weight:bold;	display:inline-block;')	이메일 인증
						div(style='font-weight:bold;	display:inline-block;')	전화번호 인증 
					textarea.form-control(placeholder='소개', id='', style='margin-left:5% width:60%')
			.col-xs-6
				div(style='width:350px; height:400px; display:inline-block;')
					// 위 화면
					div(style='background-color:white; height:340px;')
						div(style='width:100%; height:30px; background-color:rgba(0, 174, 239, 1)')
						// 좌우 사이즈
						div(style='width:100%; padding-left:20px; padding-right:20px; text-align:justify')
							div(style='background-color:white; margin-top:10px;')
								div(style='font-weight:bold;	display:inline-block;')	항공편 
								.pull-right(style='\
								text-align:center;\
								right:0px;\
								color:rgba(45, 159, 255, 1);\
								background-color:white;\
								border-radius:5px;\
								border:1px solid rgba(204, 204, 204, 1);\
								width:60px;\
								display:inline-block ')
									| D-3
							// border로 감싸기
							div(style='margin-top:5px; border:black solid 2px;	border-radius:5px;')
								#lets_go1(style='margin-top:20px;')
									div(style='text-align:center; background-color:white; ')
										div(style='font-weight:bold;	display:inline-block; border-bottom:solid black 1px; width:40%')	한국 
										div(style='font-weight:bold;	display:inline-block; color:blue; width:10%')	-> 
										div(style='font-weight:bold;	display:inline-block; border-bottom:solid black 1px; width:40%')	한국 
									div(style='text-align:center; background-color:white; ')
										div(style='font-weight:bold;	display:inline-block; width:40%')	2016.11.21 
										div(style='font-weight:bold;	display:inline-block; color:blue; width:10%')
										div(style='font-weight:bold;	display:inline-block; width:40%')	2016.11.21 
								#lets_go2(style='margin-top:20px; margin-bottom:20px')
									div(style='text-align:center; background-color:white; ')
										div(style='font-weight:bold;	display:inline-block; border-bottom:solid black 1px; width:40%')	한국 
										div(style='font-weight:bold;	display:inline-block; color:blue; width:10%')	-> 
										div(style='font-weight:bold;	display:inline-block; border-bottom:solid black 1px; width:40%')	한국 
									div(style='text-align:center; background-color:white; ')
										div(style='font-weight:bold;	display:inline-block; width:40%')	2016.11.21 
										div(style='font-weight:bold;	display:inline-block; color:blue; width:10%')
										div(style='font-weight:bold;	display:inline-block; width:40%')	2016.11.21 
							div(style='background-color:white; margin-top:10px ;')
								div(style='font-weight:bold;	display:inline-block;')	가격 한도
							div(style='background-color:white; margin-top:10px; position:relative; height:50px')
								div(style='position:absolute;') 0원
								div(style='position:absolute; right:0px') 100원
								.text-center.progress(style='height:10px')
									.progress-bar(role='progressbar', aria-valuenow='70', aria-valuemin='0', aria-valuemax='100', style='width:70%')
								// 북마크
								div(style='color:black; position:absolute; left:70%') 70원
								// 현재가격
								div(style='color:black; position:absolute; left:70%; top:40px') 70원
					// 아래 화면
					div(style='margin-top:20px;background-color:white; height:40px; text-align:center')
						button.btn.btn-primary(type='button', style='margin-top:5px; width:140px; height:30px')	문의하기 
						button.btn.btn-primary(type='button', style='margin-top:5px; width:140px; height:30px')	요청하기 
		// Q&A, 리뷰
		.row(style='margin-bottom:10px; background-color:black; text-align:center; margin-top:50px;')
			.col-xs-6
				div(style=' text-align:justify; width:350px; display:inline-block;')
					div(style='')
						div(style=' height:30px; font-size:20px; font-weight:bold;	display:inline-block;')	Q&A (0) 
					// Q&A 란
					div(style='position:relative; height:250px; width:100%; background-color:white; text-align:justify')
						div(style='top:40%; font-weight:bold; font-size:17px; text-align:center; width:100%; position:absolute; background-color:rgba(0,0,0,0.5);')
							| 현재 문의 내역이 없습니다.
							br
							|								 대화 창을 통해 여행자에게 문의해보세요!
					div(style=' background-color:white; ')
						div(style='margin-top:10px; height:50px; padding-top:5px; padding-bottom:5px; background-color:rgba(204, 204, 204, 1); width:100%; text-align:center;')
							input#itemanme.form-control(type='itemname', placeholder='메세지를 입력하세요', style='display:inline-block;width:75%')
							button.btn.btn-default(type='button', style='display:inline-block; width:20%')	전송 
			// 리뷰
			.col-xs-6
				div(style=' text-align:justify; width:350px; height:400px; display:inline-block; ')
					div(style='')
						div(style=' height:30px; font-size:20px; font-weight:bold;	display:inline-block;')	리뷰 (1) 
					// 리뷰 추가
					ul#review_list.list-group(style='overflow:auto; height:310px;')
						li#review_list_index.list-group-item(onclick='()', style='margin-top:5px;')
							div(style='position:relative; font-size:12px; ')
								img(src='p/2.jpg', alt='face', style=' width:45px; height:45px; display:inline-block; position:relative; border-radius:60px; left:0px; top:-10px')
								div(style='position:relative; display:inline-block; text-align:left;		 left:5px;\
								top:5px')
									| nickname
									div(id='', style='\
									width:160px;\
									white-space:nowrap;\
									overflow:hidden;\
									text-overflow:ellipsis;')	very kind
									div	오전 12:36 
								img(src='p/2.jpg', alt='face', style='width:45px; height:45px; display:inline-block; position:absolute; right:0px; top:10px')
								div(style='font-size:13px; font-weight:bold; width:20px; height:20px; background-color:rgba(0, 159, 255, 1); border-radius:20px; position: absolute; right:-3px; top:3px; color:white; text-align:center')	3 
						li#review_list_index.list-group-item(onclick='()', style='margin-top:5px;')
							div(style='position:relative; font-size:12px; ')
								img(src='p/2.jpg', alt='face', style=' width:45px; height:45px; display:inline-block; position:relative; border-radius:60px; left:0px; top:-10px')
								div(style='position:relative; display:inline-block; text-align:left;		 left:5px;\
								top:5px')
									| nickname
									div(id='', style='\
									width:160px;\
									white-space:nowrap;\
									overflow:hidden;\
									text-overflow:ellipsis;')	very kind
									div	오전 12:36 
								img(src='p/2.jpg', alt='face', style='width:45px; height:45px; display:inline-block; position:absolute; right:0px; top:10px')
								div(style='font-size:13px; font-weight:bold; width:20px; height:20px; background-color:rgba(0, 159, 255, 1); border-radius:20px; position: absolute; right:-3px; top:3px; color:white; text-align:center')	3 
						li#review_list_index.list-group-item(onclick='()', style='margin-top:5px;')
							div(style='position:relative; font-size:12px; ')
								img(src='p/2.jpg', alt='face', style=' width:45px; height:45px; display:inline-block; position:relative; border-radius:60px; left:0px; top:-10px')
								div(style='position:relative; display:inline-block; text-align:left;		 left:5px;\
								top:5px')
									| nickname
									div(id='', style='\
									width:160px;\
									white-space:nowrap;\
									overflow:hidden;\
									text-overflow:ellipsis;')	very kind
									div	오전 12:36 
								img(src='p/2.jpg', alt='face', style='width:45px; height:45px; display:inline-block; position:absolute; right:0px; top:10px')
								div(style='font-size:13px; font-weight:bold; width:20px; height:20px; background-color:rgba(0, 159, 255, 1); border-radius:20px; position: absolute; right:-3px; top:3px; color:white; text-align:center')	3 
						li#review_list_index.list-group-item(onclick='()', style='margin-top:5px;')
							div(style='position:relative; font-size:12px; ')
								img(src='p/2.jpg', alt='face', style=' width:45px; height:45px; display:inline-block; position:relative; border-radius:60px; left:0px; top:-10px')
								div(style='position:relative; display:inline-block; text-align:left;		 left:5px;\
								top:5px')
									| nickname
									div(id='', style='\
									width:160px;\
									white-space:nowrap;\
									overflow:hidden;\
									text-overflow:ellipsis;')	very kind
									div	오전 12:36 
								img(src='p/2.jpg', alt='face', style='width:45px; height:45px; display:inline-block; position:absolute; right:0px; top:10px')
								div(style='font-size:13px; font-weight:bold; width:20px; height:20px; background-color:rgba(0, 159, 255, 1); border-radius:20px; position: absolute; right:-3px; top:3px; color:white; text-align:center')	3 
						li#review_list_index.list-group-item(onclick='()', style='margin-top:5px;')
							div(style='position:relative; font-size:12px; ')
								img(src='p/2.jpg', alt='face', style=' width:45px; height:45px; display:inline-block; position:relative; border-radius:60px; left:0px; top:-10px')
								div(style='position:relative; display:inline-block; text-align:left;		 left:5px;\
								top:5px')
									| nickname
									div(id='', style='\
									width:160px;\
									white-space:nowrap;\
									overflow:hidden;\
									text-overflow:ellipsis;')	very kind
									div	오전 12:36 
								img(src='p/2.jpg', alt='face', style='width:45px; height:45px; display:inline-block; position:absolute; right:0px; top:10px')
								div(style='font-size:13px; font-weight:bold; width:20px; height:20px; background-color:rgba(0, 159, 255, 1); border-radius:20px; position: absolute; right:-3px; top:3px; color:white; text-align:center')	3 
						li#review_list_index.list-group-item(onclick='()', style='margin-top:5px;')
							div(style='position:relative; font-size:12px; ')
								img(src='p/2.jpg', alt='face', style=' width:45px; height:45px; display:inline-block; position:relative; border-radius:60px; left:0px; top:-10px')
								div(style='position:relative; display:inline-block; text-align:left;		 left:5px;\
								top:5px')
									| nickname
									div(id='', style='\
									width:160px;\
									white-space:nowrap;\
									overflow:hidden;\
									text-overflow:ellipsis;')	very kind
									div	오전 12:36 
								img(src='p/2.jpg', alt='face', style='width:45px; height:45px; display:inline-block; position:absolute; right:0px; top:10px')
								div(style='font-size:13px; font-weight:bold; width:20px; height:20px; background-color:rgba(0, 159, 255, 1); border-radius:20px; position: absolute; right:-3px; top:3px; color:white; text-align:center')	3 
						li#review_list_index.list-group-item(onclick='()', style='margin-top:5px;')
							div(style='position:relative; font-size:12px; ')
								img(src='p/2.jpg', alt='face', style=' width:45px; height:45px; display:inline-block; position:relative; border-radius:60px; left:0px; top:-10px')
								div(style='position:relative; display:inline-block; text-align:left;		 left:5px;\
								top:5px')
									| nickname
									div(id='', style='\
									width:160px;\
									white-space:nowrap;\
									overflow:hidden;\
									text-overflow:ellipsis;')	very kind
									div	오전 12:36 
								img(src='p/2.jpg', alt='face', style='width:45px; height:45px; display:inline-block; position:absolute; right:0px; top:10px')
								div(style='font-size:13px; font-weight:bold; width:20px; height:20px; background-color:rgba(0, 159, 255, 1); border-radius:20px; position: absolute; right:-3px; top:3px; color:white; text-align:center')	3 
