extends ./layout

block data
	-var test = "여행의 직구"

block chat_list
	+chat_list
block chat_content_list
block request_mode_list
	+request_mode_list
	+request_mode_list
block travel_mode_list
	+travel_mode_list
	+travel_mode_list
// 커다란 이미지
block main
	//- main context
	.reg_main
		.container.reg_main_inner(style='background-color:white; ')
			br
			p(style='text-align:center; font-size:2rem; font-weight:bold; color:rgba(0, 174, 239, 1);')  여행자 등록 
			p(style='text-align:center; font-size:1rem')  여정을 등록하고 경비를 벌어 보세요! 
			p.header_jun 기본 정보 입력
			.hidden-xs(style=' margin-bottom:15px', ;='')
			.row
				// 이미지 등록 & 기본 정보 입력 란
				#reg_picture.col-xs-12.col-sm-4(style='text-align:center')
					// the avatar markup
					form.text-center(action='/avatar_upload.php', method='post', enctype='multipart/form-data', style='position:relative; margin-top:15px')
						#kv-avatar-errors-2.center-block.text-center(style='width:200px;display:none;')
						.kv-avatar.center-block(style='width:210px')
							input#avatar-2.file-loading(name='avatar-2', type='file')
						// include other inputs if needed and include a form submit (save) button
					// your server code `avatar_upload.php` will receive `$_FILES['avatar']` on form submission
				#reg_info.col-xs-12.col-sm-8(style='')
					p.reg_input  이름 
					input#email.form-control.reg_input(type='name', placeholder='이름')
					br
					p.reg_input  연락처 
					input#email.form-control.reg_input(type='phone', placeholder='휴대폰')
					br
					p.reg_input  소속 (선택사항)
					input.form-control.reg_input(type='text', placeholder='소속', id='')
					br
					p.reg_input  소개 
					textarea.form-control.reg_input(placeholder='소개', id='')
					br
			.row
				p.header_jun  본인 인증 
				// 본인 인증란
				#reg_who
					h1(style='padding:50px')  추가 예정입니다. 
			// 버튼
			.col-xs-12(style='margin-bottom:50px; text-align:center')
				button.btn.btn_jun(type='button', style='margin-top:50px;', onclick="location.href='travel_reg2'")  다음 

block scripts
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
	script(type='text/javascript', src='myjs.js')
	link(href='library/bootstrap-fileinput-4.3.5/css/fileinput.min.css', media='all', rel='stylesheet', type='text/css')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
	script(src='library/bootstrap-fileinput-4.3.5/js/plugins/canvas-to-blob.min.js', type='text/javascript')
	script(src='library/bootstrap-fileinput-4.3.5/js/plugins/sortable.min.js', type='text/javascript')
	script(src='library/bootstrap-fileinput-4.3.5/js/plugins/purify.min.js', type='text/javascript')
	script(src='library/bootstrap-fileinput-4.3.5/js/fileinput.min.js')
	script(src='library/bootstrap-fileinput-4.3.5/themes/fa/theme.js')
	script(src='library/bootstrap-fileinput-4.3.5/js/locales/LANG.js')
	script(type='text/javascript').
		//메뉴창
		window.onload = function(){
			$("#avatar-2").fileinput({
			overwriteInitial: false,
			maxFileSize: 1500,
			showClose: false,
			showCaption: false,
			showBrowse: false,
			browseOnZoneClick: true,
			removeLabel: '',
			removeIcon: '<i class="glyphicon glyphicon-remove"></i>',
			removeTitle: 'Cancel or reset changes',
			elErrorContainer: '#kv-avatar-errors-2',
			msgErrorClass: 'alert alert-block alert-danger',
			defaultPreviewContent: '<img src="./p/1.jpg" alt="Your Avatar" style="width:100%; height:180px"><h6 class="text-muted">Click to select</h6>',
			layoutTemplates: {main2: '{preview} ' +  ' {remove}'},
			allowedFileExtensions: ["jpg", "png", "gif"]
			});
		}
