extends ./layout

block styles
	link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
	link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css')
	link(rel='stylesheet', type='text/css', href='./css/mystyle.css')
	link(rel="stylesheet",href="/css/login_form.css")
	link(rel="stylesheet",href="/css/menu_side.css")
	link(rel='stylesheet', href='./bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')

block data
	-var test = "여행의 직구"

block chat_list
	+chat_list
block chat_content_list
block request_mode_list
	+request_mode_list
	+request_mode_list
block travel_mode_list
	+travel_mode_list
	+travel_mode_list
//- 커다란 이미지
block main
	//- main context
	.reg_main
		.container.reg_main_inner(style='background-color:white; ')
			br
			p.header_jun 여행 정보 등록
			.row.panel-heading.info_reg(style='border-radius:5px; background-color:rgba(45, 159, 255, 1); margin-left:0px; margin-right:0px; ')
				.col-xs-12.col-md-8
					ul.nav.nav-tabs(style='display:inline-block')
						li#aa.do_active(style='border-radius:5px; outline-style: none;')
							a(style='color:black', href='#')  한국 출발 
						li#bb.not_active(style='border-radius:5px')
							a(style='color:black', href='#')  해외 출발 
				.col-xs-12.col-md-4
					.radio.reg_label
						label
							input#radio1(type='radio', name='deli_method', value='왕복', checked='checked')
							|  편도
						label
							input#radio2(type='radio', name='deli_method', value='왕복',)
							|  왕복
						label
							input(type='radio', name='deli_method', value='왕복')
							|  다구간
			.row.route_1(style='margin:15px; margin-bottom:0px')
				.header_jun_2  루트 1 
				.col-xs-12.col-md-6(style='text-align:center; border-radius:5px;')
					.col-xs-12.col-md-6(style='text-align:center')
						input.form-control.reg_input_text(style='width:100%; display:inline; position:relative', type='text', placeholder='출발 도시', name='start')
					.col-xs-12.col-md-6
						.form-group(style='width:100%; display:inline-block; position:relative')
							#datetimepicker1.input-group.date
								input.form-control(type='text', placeholder='출발 날짜')
								span.input-group-addon
									span.glyphicon.glyphicon-calendar
				.col-xs-12.col-md-6(style='text-align:center')
					.col-xs-12.col-md-6(style='text-align:center')
						input.form-control.reg_input_text(style='width:100%; display:inline; position:relative', type='text', placeholder='도착 도시', name='arrive')
					.col-xs-12.col-md-6
						.form-group(style='width:100%; display:inline-block; position:relative')
							#datetimepicker2.input-group.date
								input.form-control(type='text', placeholder='도착 날짜')
								span.input-group-addon
									span.glyphicon.glyphicon-calendar
			#route_2.row.route_2(style='margin:15px; display:none; margin-top:0px')
				.header_jun_2  루트 2 
				.col-xs-12.col-md-6(style='text-align:center; border-radius:5px;')
					.col-xs-12.col-md-6(style='text-align:center')
						input.form-control.reg_input_text(style='width:100%; display:inline; position:relative', type='text', placeholder='출발 도시', name='start')
					.col-xs-12.col-md-6
						.form-group(style='width:100%; display:inline-block; position:relative')
							#datetimepicker3.input-group.date
								input.form-control(type='text', placeholder='출발 날짜')
								span.input-group-addon
									span.glyphicon.glyphicon-calendar
				.col-xs-12.col-md-6(style='text-align:center')
					.col-xs-12.col-md-6(style='text-align:center')
						input.form-control.reg_input_text(style='width:100%; display:inline; position:relative', type='text', placeholder='도착 도시', name='arrive')
					.col-xs-12.col-md-6
						.form-group(style='width:100%; display:inline-block; position:relative')
							#datetimepicker4.input-group.date
								input.form-control(type='text', placeholder='도착 날짜')
								span.input-group-addon
									span.glyphicon.glyphicon-calendar
			.row.reg_main_text(style='margin-left:25px')
				from(action='')
					.radio.reg_label2
						label 여행 목적:
						label
							input(type='radio', name='deli_method', value='여행')
							|  여행
						label
							input(type='radio', name='deli_method', value='출장')
							|  출장
						label
							input(type='radio', name='deli_method', value='기타')
							|  기타
						input#etc_input.form-control(type='text', name='deli_method', placeholder='직접입력')
			p.header_jun(style='margin-top:60px') 조건 입력
			.row.reg_main_text
				p(style='margin-bottom:40px; font-size:0.8rem')  캐리어 혹은 배낭의 여유공강을 고려하여, 운송 가능한 조건을 입력하세요.
				p.header_jun_2(style='margin-left:0px') 배송가능 기간
				.row(style='margin-bottom:10px')
					.col-md-5
						.form-group
							#datetimepicker6.input-group.date
								input.form-control(type='text', placeholder='배송가능 시작일')
								span.input-group-addon
									span.glyphicon.glyphicon-calendar
					.col-md-5
						.form-group
							#datetimepicker7.input-group.date
								input.form-control(type='text', placeholder='배송가능 마지막일')
								span.input-group-addon
									span.glyphicon.glyphicon-calendar
				// 부트스트랩 select picker
				.row
					.col-xs-12.col-md-4
						label.header_jun_2(style='font-weight:bold; font-size:15px; margin-top:10px; margin-left:5px')
							| 배송 무게 :
							select.selectpicker
								option(value='volvo') 배송무게
								option(value='saab') 0
								option(value='opel') 1
								option(value='audi') 2
					.col-xs-12.col-md-4
						label.header_jun_2(style='font-weight:bold; font-size:15px; margin-top:10px; margin-top:10px; margin-left:5px')
							| 물건 크기 :
							select.selectpicker
								option(value='volvo') 물건크기
								option(value='saab') Saab
								option(value='opel') Opel
								option(value='audi') Audi
			p.header_jun(style='margin-top:60px') 배송 방식
			.row.reg_main_text
				p(style='font-size:0.8rem') 직거래, 국내배송 등의 배송 가능한 방식을 선택하세요. (중복 선택 가능)
				p
					select.selectpicker
						option(value='volvo') 직거래
						option(value='audi') 배송
					input.form-control(type='text', style='width:245px;display:inline-block; position:relative;', placeholder='직거래 가능한 지역을 입력해 주세요.', name='start')
			// 버튼
			.row(style='margin-bottom:50px; text-align:center')
				button.btn.btn_jun(type='button', style='margin-top:50px;')  다음 

block scripts
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
	script(type='text/javascript', src='myjs.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js')
	script(type='text/javascript', src='./bower_components/moment/min/moment.min.js')
	script(type='text/javascript', src='./bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
	script(type='text/javascript').
		//메뉴창
		window.onload = function(){
			var reg2_radio2 = document.getElementById("route_2");
			
			$('#radio1').click(function(){
				reg2_radio2.style.display='none';
			});
			
			$('#radio2').click(function(){
				reg2_radio2.style.display="inline-block";
			});
		
			var aa = document.getElementById("aa");
			var bb = document.getElementById("bb");
			
			$('#aa').click(function(){
				alert('hi');
				if(aa.className=="do_active"){
					bb.className = "do_active";
					aa.className = "not_active";
				}
				else{
					bb.className = "not_active";
					aa.className = "do_active";
				}
			});
			
			$('#bb').click(function(){
				alert('hi');
				if(aa.className=="do_active"){
					bb.className = "do_active";
					aa.className = "not_active";
				}
				else{
					bb.className = "not_active";
					aa.className = "do_active";
				}
			});
			
			$(function () {
				$('#datetimepicker4').datetimepicker();
			});
			$(function () {
				$('#datetimepicker1').datetimepicker();
			});
			$(function () {
				$('#datetimepicker2').datetimepicker();
			});
			$(function () {
				$('#datetimepicker3').datetimepicker();
			});
			
			$(function () {
				$('#datetimepicker6').datetimepicker();
				$('#datetimepicker7').datetimepicker({
					useCurrent: false //Important! See issue #1075
				});
				$("#datetimepicker6").on("dp.change", function (e) {
					$('#datetimepicker7').data("DateTimePicker").minDate(e.date);
				});
				$("#datetimepicker7").on("dp.change", function (e) {
					$('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
				});
			});
			

				
		}
