


#login-menu-toggle {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
}



.toggle {
  margin: 5px 5px 0 0;
}

/* 4등분 */

/* lg */
@media (min-width:1200px){
  #login-sidebar-wrapper {
    margin-right: -250px;
    right: 0;
    width: 250px;
    background: rgb(255,255,255);
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.5s ease-in 0s;
    -webkit-transition: all 0.5s ease-in 0s;
    -moz-transition: all 0.5s ease-in 0s;
    -ms-transition: all 0.5s ease-in 0s;
    -o-transition: all 0.5s ease-in 0s;
  }
  #login-sidebar-wrapper.active {
    right: 250px;
    width: 500px;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
  }
}

/* md */
@media (min-width:993px) and (max-width:1199px){
  #login-sidebar-wrapper {
    margin-right: -250px;
    right: 0;
    width: 250px;
    background: rgb(255,255,255);
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.5s ease-in 0s;
    -webkit-transition: all 0.5s ease-in 0s;
    -moz-transition: all 0.5s ease-in 0s;
    -ms-transition: all 0.5s ease-in 0s;
    -o-transition: all 0.5s ease-in 0s;
  }
  #login-sidebar-wrapper.active {
    right: 250px;
    width: 500px;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
  }
}

/* sm */
@media (min-width:769px) and (max-width:992px){
  #login-sidebar-wrapper {
    margin-right: -250px;
    right: 0;
    width: 250px;
    background: rgb(255,255,255);
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.5s ease-in 0s;
    -webkit-transition: all 0.5s ease-in 0s;
    -moz-transition: all 0.5s ease-in 0s;
    -ms-transition: all 0.5s ease-in 0s;
    -o-transition: all 0.5s ease-in 0s;
  }
  #login-sidebar-wrapper.active {
    right: 250px;
    width: 500px;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
  }
}

/* xs */
@media (max-width:768px){
  #login-sidebar-wrapper {
    margin-right: -250px;
    right: 0;
    width: 250px;
    background: rgb(255,255,255);
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.5s ease-in 0s;
    -webkit-transition: all 0.5s ease-in 0s;
    -moz-transition: all 0.5s ease-in 0s;
    -ms-transition: all 0.5s ease-in 0s;
    -o-transition: all 0.5s ease-in 0s;
  }
  #login-sidebar-wrapper.active {
    right: 250px;
    width: 100%;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
  }
}
