body{
  background-color:rgba(255,255,255,1);
}

/*00aeef   (0, 174, 239, 1)
메인 색 노란 ( 255, 186, 0, 1)
cccccc    (204, 204, 204, 1)
진한회색    (103, 104, 104, 1)

상황별 색
완료   828992 회색 (130, 137, 146, 1)
진행중 ea6060 다홍 (234, 96, 96, 1)
매칭중 FFa200 노랑 (255, 162, 0, 1)
대기중 3fc618 퍼렁 (63, 198, 24, 1)

메인컬러
연보라      2d9fff    (45, 159, 255, 1)
파란        00aeef   (0, 174, 239, 1)
노랑        ffba00   (255, 186, 0, 1)
레몬        fff200   (255, 242, 0, 1)

라인 컬러
파란           00aeef   (0, 174, 239, 1)
회색1(연회색)    cccccc   (204, 204, 204, 1)
회색2(연연회색)  e3e3e3   (227, 227, 227, 1)
회색3(연연연회색) eeeeee   (238, 238, 238, 1)

폰트 컬러
파란        00aeef   (0, 174, 239, 1)
노랑        ffba00   (255, 186, 0, 1)
진함 검정    333333   (51, 51, 51, 1)
진한 회색    666666   (102, 102, 102, 1)
회색        999999   (153, 153, 153, 1)

*/
.text_size1{
  font-size:18px;
}
.text_size_nomal{
  font-size:12px;
}
.text_size_index{
  font-size:14px;
}
.text_dark_gray{
  color:rgba(102, 102, 102, 1);
}
.text_gray{
  color:rgba(153, 153, 153, 1);
}
.text_blue{
  color:rgba(0, 174, 239, 1);
}
.text_yellow{
  color:rgba(255, 186, 0, 1);
}
.text_blod{
  font-weight:bold;
}
.text_white{
  color:rgba(255, 255, 255, 1);
}
.background_dark_gray{
  background-color:rgba(51, 51, 51, 1);
}
.background_blue{
  background-color:rgba(0, 174, 239, 1);
}
.background_yellow{
  background-color:rgba(255, 186, 0, 1);
}

.placeholder_text_size{
  font-size:12px;
}

.kv-avatar .file-preview-frame,.kv-avatar .file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}
.kv-avatar .file-input {
    display: table-cell;
    max-width: 220px;
}

.text-center{
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}

/*-------------------------------*/
/*            index              */
/*-------------------------------*/


/*-------------------------------*/
/*            request            */
/*-------------------------------*/

.request2_main{
  width:80%;
  margin-left:10%;
}

.chat_mode{
  background-color:black;
}

.reg_input{
  font-weight: bold;
  width:100%;
}

/*-------------------------------*/
/*            travel_reg         */
/*-------------------------------*/

/*-------------------------------*/
/*            usually            */
/*-------------------------------*/

.noti_request{
   background-color:rgba(255, 35, 25, 1);
    width:40px;
}

.header_jun{
  color:rgba(0, 174, 239, 1);
  font-size:25px;
  font-weight: bold;
}
#chat_list_index{
  margin-top:10px;
  left:5%;
  width:90%
}
#chat_list_index:hover{
  background-color:rgba(203,203,203,1);
}

#chat_preview{
  width:250px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.chat_font_size{
  font-size:15px;
}

.chat_img{
  width:60px;
  height:60px;
}

.chat_position{
   left:10px;
   top:10px
}

/*-------------------------------*/
/*            others             */
/*-------------------------------*/



.modal.modal-center {
  text-align: center;
}

.modal-dialog.modal-center {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.header_jun_2{
  color:black;
  margin-top:20px;
  margin-bottom:8px;
  margin-left:30px;
  font-size:20px;
  font-weight: bold;
}

.btn_jun{
  border-radius:5px;
  font-weight: bold;
  color: white;
  width:120px;
  height: 40px;
  background-color:rgba(0, 174, 239, 1);
}

.ad_p{
  width:40%;
}



.bottom_margin{
  margin-bottom:20px;
}

/* 부트스트랩 select 크기 조절  */
.bootstrap-select>.dropdown-toggle{
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
}

.btn_select_active{
  font-weight: bold;
  color:white;
  background-color:rgba(103, 104, 104, 1);
}

.btn_select_no_active{
  font-weight: bold;
  color:white;
  background-color:rgba(204, 204, 204, 1);
}

.main_search{
  background-color:white;
  border-radius:0px;
  font-weight:bold;
  position:relative;
  text-align:center;
  vertical-align:middle;
  display:inline-block;
  height:100%;
}

.main_current{
  background-size:170px 170px;
  width:170px; height:170px;
  background-repeat:no-repeat;
  position:relative; top:-20px;
  display:inline-block;
  padding-top:40px;
  margin-right:17px;
  margin-left:17px;
  margin-bottom:15px;

  font-size:20px;
  font-weight: bold;
  color: white;
}

.do_active {
   background-color:white;
   pointer-events: none;
   cursor: default;
   font-weight: bold;
}

.not_active{
  color:white;
  font-weight: bold;
  background-color:rgba(135, 206, 250, 1);
}

.reg_label label{
  color:white;
  font-weight: bold;
  padding-right: 10px;
}

.reg_label2 label{
  color:black;
  font-weight: bold;
  font-size: 18px;
  padding-right: 10px;
}

.reg_main{
  padding-top:60px;
  padding-bottom:80px;
}

.reg_main_text{
  margin:30px;
  margin-left:50px
}

.reg_input_txt{
  position: relative;
  display: inline-block;
  width: 50%  /* 원하는 너비 설정 */
  height: auto;  /* 높이값 초기화 */
  line-height : normal;  /* line-height 초기화 */
  padding: .6em .12em; /* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */
  font-family: inherit;  /* 폰트 상속 */
  border: 1px solid #999;
  border-bottom: 2px solid #000000;
  border-radius: 0;  /* iSO 둥근모서리 제거 */
  outline-style: none;  /* 포커스시 발생하는 효과 제거를 원한다면 */
  -webkit-appearance: none;  /* 브라우저별 기본 스타일링 제거 */
  -moz-appearance: none;
  appearance: none;
}

.index_search_bar3{
  width:24%;
}
.index_search_bar2{
  width:24%;
}

.request2_btn{
  font-size:0.8rem;
  height:60px;
  width:30%;
}

/*큰 화면*/
@media (min-width:768px){
  .recommend_item_array{
    margin-left:10%;
    margin-right:10%;
  }
  .form-inline.jun{
    width:98%; height:65px;}


  .main_search{
    font-size:18px;
  }




  #etc_input{
    display:inline-block;
    position:relative;
    width:170px}}


  /*큰 화면 이하*/
@media (max-width:767px){
  .recommend_item_array{
    margin-left:30px;
    margin-right:30px;
    margin-top:30px;
  }
  .form-inline.jun{
    width:94%; height:35px;}
  #reg_info{
    margin-top:30px;}
  .reg_input{
    font-weight: bold;
    width:80%;
    margin-left: 10%;}
  #etc_input{
    margin-top: 10px;
    margin-left: 5%;
    width:80%;

}}


/* 4등분 */

/* lg */
@media (min-width:1200px){
  html{font-size:28px;}
  .index_search_bar{
    width:26%
  }
  .index_icon{
    width:15%;
    height:15%;
  }
  .carousel_top{
    top:40%
  }
  .modal_size{
    width:400px;
    height:600px
  }

  .request2_img{
    position:absolute;
    top:0px;
    left:0px;
  }
  .request2_sort_btn{
    top:30px;
  }
  .request_now_status_array{
    margin-top:50px;
    margin-bottom:50px;
    margin-left:40px;
    margin-right:60px;
    margin-left:60px;
  }
  .request_now_status{
    font-size:19px;
     height:160px;
     width:160px;
     padding-top:35px
  }
  .request2_img_background{
    padding-left:160px;
    padding-right:160px;

    padding-top:0px;
    margin:80px;
    margin-top:15px;
    padding-bottom:60px;

  }
}

/* md */
@media (min-width:993px) and (max-width:1199px){
  html{font-size:26px;}
  .index_search_bar{
    width:24%
  }
  .index_icon{
    width:20%;
    height:20%;
  }
  .carousel_top{
    top:40%
  }
  .modal_size{
    width:400px;
    height:600px
  }
  .request2_img{
    position:absolute;
    top:0px;
    left:0px;
  }
  .request2_sort_btn{
     top:20px;
  }
  .request_now_status_array{
    margin-top:40px;
    margin-bottom:40px;
    margin-left:10px;
    margin-right:50px;
    margin-left:50px;
  }
  .request_now_status{
    font-size:16px;
     height:140px;
     width:140px;
     padding-top:35px;
  }
  .request2_img_background{
    padding-left:110px;
    padding-right:110px;

    padding-top:0px;
    margin:80px;
    margin-top:15px;
    padding-bottom:60px;

  }
}

/* sm */
@media (min-width:769px) and (max-width:992px){
  html{font-size:22px;}
  .request2_sort_btn{
     top:10px;
  }
  .request2_btn{
    font-size:0.8rem;
    height:40px;
    width:40%;
  }
  .ad_p{
    height:35px;
    width:40%;
  }
  .index_search_bar3{
    width:23%;
  }
  .index_search_bar2{
    width:10%;
  }
  .index_search_bar{
    width:20%;
  }
  .index_icon{
    width:25%;
    height:25%;
  }
  .carousel_indicators_top{
    top:90%;
    left:80%;
  }
  .carousel_top{
    top:40%
  }
  .modal_size{
    width:400px;
    height:600px
  }
  .request2_img{
    position:absolute;
    top:0px;
    left:0px;
  }

  .request_now_status_array{
    margin-top:30px;
    margin-bottom:30px;
    margin-left:10px;
    margin-right:40px;
    margin-left:40px;
  }
  .request_now_status{
    font-size:14px;
     height:110px;
     width:110px;
     padding-top:25px
  }
  .request2_img_background{
    padding-left:80px;
    padding-right:80px;

    padding-top:0px;
    margin:40px;
    margin-top:15px;
    padding-bottom:40px;

  }
}

/* xs */
@media (max-width:768px){
  #chat_preview{
    width:160px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
  }
  .chat_font_size{
    font-size:12px;
  }

  .chat_img{
    width:45px;
    height:45px;
  }
  .chat_position{
     left:5px;
     top:5px
  }
  .request2_sort_btn{
    margin-top:30px;
  }
  .request2_main{
    width:80%;
    margin-left:0%;
  }
  .header_jun{
    color:rgba(0, 174, 239, 1);
    font-size:25px;
    font-weight: bold;
  }
  .reg_main{
    padding-top:60px;
    padding-bottom:40px;
  }
  html{font-size:18px;}
  .request2_btn{
    font-size:0.8rem;
    height:40px;
    width:80%;
  }
  .ad_p{
    height:30px;
    width:60%;
  }

  .index_search_bar3{
    width:30%
  }
  .index_search_bar2{
    width:70%
  }
  .index_search_bar{
    width:50%
  }
  .index_icon{
    width:30%;
    height:30%;
  }
  .carousel_indicators_top{
    top:80%;
    left:78%;
  }
  .carousel_top{
    top:30%
  }
  .modal_size{
    width:80%;
    height:600px
  }
  .request2_img{
    position:absolute;
    top:0px;
    left:0px;
  }
  .request_now_status_array{
    margin-top:25px;
    margin-bottom:25px;
    margin-right:10px;

  }
  .request_now_status{
    font-size:9px;
     height:70px;
     width:70px;
     padding-top:10px
  }
  .request2_img_background{
    padding-left:1%;
    padding-right:1%;

    padding-top:0px;
    margin:0px;
    margin-top:15px;
    padding-bottom:20px;

  }
}


@media screen and (min-width: 768px) {
  .modal.modal-center:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
  .modal.modal-center.btn{
    width: 100px;
  }
}

/* 메인 색 파랑 (0, 159, 255, 1)
    00aeef   (0, 174, 239, 1)
   메인 색 노란 ( 255, 186, 0, 0)
   cccccc    (204, 204, 204, 1)
   진한회색    (103, 104, 104, 1)
   요청 FF2319 빨강 (255, 35, 25, 1)
   완료 CC1C14 다홍 (204, 28, 20, 1)
   진행중 ABB217 초록 (171, 178, 23, 1)
   매칭중 FF9C00 노랑 (255, 156, 0, 1)
   대기 2D9FFF 퍼렁 (45, 159, 255, 1)

  opacity*/
